$transport-blue: #0DBAFA;
$orange: #fd7c07;
$pink: #DA06D3;
$transport-accent: #00ddff;

$background: rgba(80,80,80,1);
$secondary-background: rgba(60,60,60,1);
$input-background: rgba(60,60,60,1);

$label-color: rgba(255,255,255,.3);
$text-color: rgba(255,255,255,.6);
$highlight-color: rgba(255,255,255,.9);
