@import "./_variables.scss";

.app {
  font-family: 'Rubik', 'HelveticaNeue-Light', sans-serif;
  color: rgba(255,255,255,.75);
  font-size: 1rem;
  min-height: 100vh;
  background: url(http://s3.amazonaws.com/igen.wevr.com/2dfe1af2-4599-4900-9c47-e8b938ea0fe4_generator_bg.jpg);
  background-size: cover;
  background-color: black;
  background-position: center;

  h1, h2, h3 {
    font-weight: 400;
    color: $highlight-color;
    letter-spacing: .05em;
  }

  button {
    font-family: 'Rubik', 'HelveticaNeue-Light', sans-serif;
    padding: 1em;
    font-size: 1rem;
    background-color: rgba(0,0,0,0);
    border: 2px solid rgba(0,0,0,.1);
    color: $transport-accent;
    transition: 1s;
    letter-spacing: .1em;
    cursor: pointer;
    border-radius: .25em;
    font-weight: 400;
    &:hover {
      border: 2px solid $transport-accent;
      color: $transport-accent;
      background: transparent;
    }
  }

  a {
    text-decoration: none;
    color: $orange;
  }
}
