@import "client/styles/_variables.scss";

.color-picker {
  & > div {
    margin-top: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    background-color: rgb(50,50,50) !important;
    border: none;
    width: 100% !important;
    font-family: 'Rubik', 'HelveticaNeue-Light', sans-serif !important;
  }

  input {
    margin-top: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: rgba(255,255,255, 0.75) !important;
  }
}
