@import "client/styles/_variables.scss";

.color-picker {
  & > div {
    margin-top: 1em;
    box-shadow: none !important;
    background-color: $background !important;
    border: 1px solid $secondary-background;
  }

  input {
    margin-top: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    color: rgba(255,255,255, 0.75) !important;
  }
}
