@import "../../../containers/PageBuilder/page-builder.scss";

.header {
  position: relative;
  margin-bottom: 0.5em;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: white;
  height: 37.5rem;

  .header-content {
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 18.5rem;
  }

  h1 {
    margin-top: -1em;
    margin-bottom: 0em;
    font-weight: 400;
  }

  h5 {
    margin:  1rem 0;
    opacity: .9;
    font-size: 1.25rem;
  }

  .transport-cta {
    display: none;
    color: #ccc;
    font-size: .75rem;
    margin-top: 7rem;
    line-height: 1.25rem;

    a {
      font-weight: 500;
      font-size: 12px;
      line-height: 45px;
      padding: 0 18px;
      margin-top: 2rem;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      padding: 0 40px;
      background: #DA06D3;
      color: #fff;
      font-size: 16px;
      line-height: 55px;
      border: 2px #DA06D3 solid;
      border-radius: 30px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      transition: background-color .2s,border-color .2s;

      &:hover {
        background: rgba(45,45,45,1);
        border: 2px rgba(45,45,45,1) solid;
      }
    }
  }
}
