@import "client/styles/_variables.scss";

.page-title-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.3);

  h3 {
    color: $highlight-color;
    font-weight: 300;
    margin-top: 0.75rem;
  }

  a {
    color: $highlight-color;
    font-weight: 400;
    position: absolute;
    right: 2em;
    margin-top: .5em;
  }

  form {
    margin: 10vw auto 2.5rem;
    position: relative;
    width: 30em;
    background: $background;
    padding: 1em 2.5em;
    box-shadow: 0 10px 12px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.20);

    fieldset {
      border: none;
      padding: 0;
      margin: 1em 0;

      label {
        padding: 0;
        color: $label-color;
        font-weight: 300;

        span { color: rgba(253, 124, 7, 0.6) };

        input {
          display: block;
          width: 100%;
          padding: 0.5rem;
          padding-left: 0;
          margin: 0.25em auto;
          background: rgba(0,0,0,0);
          border: none;
          border-bottom: rgba(255,255,255,.15) solid 1px;
          color: $highlight-color;
        }
      }
    }
  }
}
