@import "client/styles/_variables.scss";

.component-menu {
  position: fixed;
  width: 18.95em;
  max-height: 66vh;
  margin-top: 0;
  top: 4.15rem;
  z-index: 5;
  left: 1.77em;
  background-color: rgba(0,0,0,.9);
  padding: 1em;
  overflow-y: scroll;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  button {
    display: block;
    color: $text-color;
    transition: .5s;
    margin: .5rem 0;

    svg {
      vertical-align: middle !important;
      font-size: 1.5em !important;
      position: relative !important;
      left: 0rem !important;
      top: 0rem !important;
    }

    span {
      margin-left: 1em;
    }

    &:hover {
      color: $highlight-color;
    }
  }
}
