@import "client/styles/_variables.scss";

.page-builder {
  font-family: 'Rubik', 'HelveticaNeue-Light', sans-serif !important;
  letter-spacing: 0.045em;
  color: $text-color;
  font-size: .9em;
  min-height: 100vh;
  min-width: 100vw;

  h1, h2, h3, h4, h5 {
    font-weight: normal;
    letter-spacing: 0.1em;
  }

  h2, h3, h4, h5 {
    color: rgba(0,0,0, 0.9);
  }

  button {
    padding: .5em 1em;
    font-size: .8rem;
    background-color: rgba(0,0,0,.5);
    border: 2px solid rgba(255,255,255,0);
    color: white;
    transition: .5s;
    letter-spacing: .1em;
    cursor: pointer;
    border-radius: .25em;
    font-weight: 400;
    &:hover {
      border: 2px solid $transport-accent;
      color: $transport-accent;
      background: transparent;
    }
  }
}
