@import "client/styles/_variables.scss";

.image-uploader {
  height: auto !important;
  width: 100% !important;
  background-color: rgba(0,0,0,.3);
  border: none !important;
  border-radius: none !important;
  padding: 1.5em 0em 1em;
  text-align: center;

  button {
    border: 1px solid rgba(255,255,255,.05);
  }

  svg {
    font-size: 4em;
    display: block;
    margin: 0.25rem auto;
  }
}
