.imageContainer {
  height: auto;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  position: relative;

  .image {
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 50rem) {
  .imageContainer {
    margin: .75rem 0 !important;
    width: 100% !important;
  }
}
